header {
    width: 100%;
    background-color: rgb(156, 126, 116);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scores {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
}

h3 {
    font-weight: 700;
    font-size: 22px;
}

p {
    font-size: 20px;
}

.currentScore,
.highScore {
    font-size: 24px;
}

.italic {
    font-style: italic;
}